


    <h2>Hitung Luas</h2>
    <form action="/Home/LuasSegitiga" method="GET">
        <label>Alas :</label><br/>
        <input type="text" name="alas" value="@ViewBag.Alas" /><br/><br/>
        <label>Tinggi: </label><br/>
        <input type="text" name="tinggi" value="@ViewBag.Tinggi" /><br/><br/>
        <label>Hasil :</label><br/>
        <input type="text" name="hasil" value="@ViewBag.Hasil" /><br/><br/>
        <input type="submit" name="submit" class="btn btn-success" value="Hitung" />
    </form>
    <hr />
    @if(ViewData["hasil"]!=null){
        <h2>Hasil Luas Segitiga</h2>
        <p>Hasil Luas Segitiga: @ViewData["hasil"]</p>
        <p>Username @ViewBag.Username</p>
    }

